:root {
    @apply light;
}

.dark {
    --color-bg-primary: #2d3748;
    --color-bg-secondary: #283141;
    --color-bg-accent: #10B981;
    --color-bg-accentHover: #047857;
    --color-bg-accentLight: #D1FAE5;
    --color-bg-accentLightHover: #A7F3D0;
    --color-text-primary: #f7fafc;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #10B981;
    --color-text-accentDark: #047857;
}

.light {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #F9FAFB;
    --color-bg-accent: #DC2626;
    --color-bg-accentHover: #B91C1C;
    --color-bg-accentLight: #FEE2E2;
    --color-bg-accentLightHover: #FECACA;
    --color-text-primary: #111827;
    --color-text-secondary: #6B7280;
    --color-text-accent: #DC2626;
    --color-text-accentDark: #B91C1C;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
