:root {
    @apply light;
}

.dark {
    --color-bg-primary: #2D3748;
    --color-bg-secondary: #283141;
    --color-bg-accent: #DB2777;
    --color-bg-accentHover: #BE185D;
    --color-bg-accentLight: #FCE7F3;
    --color-bg-accentLightHover: #FBCFE8;
    --color-text-primary: #F7FAFC;
    --color-text-secondary: #E2E8F0;
    --color-text-accent: #EC4899;
    --color-text-accentDark: #BE185D;
}

.light {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #F9FAFB;
    --color-bg-accent: #DC2626;
    --color-bg-accentHover: #B91C1C;
    --color-bg-accentLight: #FEE2E2;
    --color-bg-accentLightHover: #FECACA;
    --color-text-primary: #111827;
    --color-text-secondary: #6B7280;
    --color-text-accent: #EF4444;
    --color-text-accentDark: #B91C1C;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
