:root {
    scroll-behavior: smooth;
}

::-moz-selection {
    background: var(--color-bg-secondary);
    color: var(--color-text-secondary);
}

::selection {
    background: var(--color-bg-secondary);
    color: var(--color-text-secondary);
}

.dark {
    --color-bg-accent: #FFFEF1;
    --color-bg-primary: #212121;
    --color-bg-secondary: #666666;

    --color-text-primary: #FFFEF1;
    --color-text-secondary: #E2E8F0;
    --color-text-tertiary: #212121;

    --color-border-accent: #FFFEF1;
    --color-border-primary: #E2E8F0;
}

.light {
    --color-bg-accent: #212121;
    --color-bg-primary: #FFFEF1;
    --color-bg-secondary: #F6F5E8;

    --color-text-primary: #212121;
    --color-text-secondary: #666666;
    --color-text-tertiary: #FFFEF1;

    --color-border-accent: #212121;
    --color-border-primary: #666666;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    @apply antialiased;
}